[package]
name = "outbound-client"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
async-trait.workspace = true
tokio.workspace = true
domain = { path = "../domain" }
