[package]
name = "ingest-kafka"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
serde.workspace = true
domain = { path = "../domain" }
